body{
    background-color: #ffce29;
    background-image: url("https://jlaw21.github.io/Resources/mario.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    color: antiquewhite;
    font-size: 100%;
}

header{
    background-color: rgb(255, 57, 57);
    font-family: 'Press Start 2P', cursive;
}

section{
    background-color: #1a25c0;
}

section header{
    color: #00ce00;
    line-height: 2em;
    text-indent: 5px;
    
}

aside{
    background-color: #007b4a;
    
}

footer{
    background-color: rgb(255, 57, 57);
}

nav{
    background-color: #007b4a;
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size: contain;
    font-family: 'Dosis', sans-serif;
    color: rgb(255, 57, 57);
}

h1{
    text-shadow: 10px 10px 2px brown;
    text-align: center;
}

h3{
    color: #00deff;
    font-size: 1.4em;
    font-style: oblique;
}

p{
    font: small-caps 1em 'Press Start 2P', cursive;
    line-height: 1.6em;
    text-shadow: 1px 1px 2px black;
    text-transform: capitalize;
    letter-spacing: .1em;
    word-spacing: .2em;
    text-align: center;
}

li{
    font: small-caps 1em 'Dosis', sans-serif;
    text-align: left;
}

a{
    color: rgb(255, 163, 57);
    text-decoration: none;
}