
header{
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #2C302E;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #2D1115;
}
fieldset{
    width:600px;
    margin:auto;
    background-color: #A28F9D;
}

label{
    width: 15em;
    float: left;
    clear: left;
    text-align: right;
    padding-right: 1em;
    color: #65334D;
}

input{
    float:left;
}

button{
    display:block;
    clear:both;
    margin-left:auto;
    margin-right:auto;
    font-family: 'ZCOOL KuaiLe', cursive;
}

#output{

    text-align: center;
    display: none;
    position: relative;
    top: 600px;
    opacity: 0;
    
}